@import "./mixin-extend.scss";

* {
  box-sizing: border-box;
}

html,
body {
  user-select: none;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(#f1cba4, #f0f1d0);
  color: #000000;
}

button,
input {
  &:focus {
    outline: none;
  }
}

.container {
  overflow: hidden;
  width: 100%;
  min-width: 320px;
  max-width: 1450px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.9);
  @media (max-width: 860px) {
    padding: 15px;
  }
  @media (max-width: 420px) {
    padding: 10px;
  }
}

.lazyload {
  text-align: center;
  min-height: 100px;
  font-size: 0;
  &::after {
    position: absolute;
    content: "SpicyHotFOOD";
    text-align: left;
    top: 50%;
    left: 50%;
    width: 195px;
    height: 26px;
    z-index: 20;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(255, 5, 5, 0.308);
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 92% 4px;
    transform: translate(-50%, -50%);
  }
}

// Swiper-Slider
.swiper {
  &-pagination {
    &-bullet {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9px)) !important;
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9px)) !important;
      margin: 0 6px !important;
      border: 1px solid #f30024;
      @include transition(background-color);
      &:hover,
      &:focus,
      &:active {
        @include transition(background-color, #ff314f);
      }
      &-active {
        background: #ff314f !important;
      }
      @media (max-width: 420px) {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px)) !important;
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px)) !important;
        margin: 0 4px !important;
      }
    }
  }
  &-horizontal > &-pagination-bullets,
  &-pagination-bullets &-pagination-horizontal,
  &-pagination-custom,
  &-pagination-fraction {
    @media (max-width: 420px) {
      bottom: 3px !important;
    }
  }
  &__btn {
    &-prev {
      left: 10px;
      & svg {
        margin: -1px 2px 0 0;
      }
    }
    &-next {
      right: 10px;
      & svg {
        margin: -1px 0 0 2px;
      }
    }
  }
}

.simplebar {
  &-mask {
    border-radius: 10px;
  }
  &-track.simplebar-vertical {
    cursor: pointer;
    width: 13px !important;
  }
  &-scrollbar {
    cursor: pointer;
    &:before {
      cursor: pointer;
      background-color: #ae936c !important;
    }
  }
}
